{% load staticfiles %}
{% load url from future %}

{% load goat_filters %}

<div class='container categorylinks'>
  <div class='tabbable'>
    <ul class='nav nav-tabs' id='categorytabs'>
      <li class="{% if not cat %}active{% endif %}">
        <a href='#tab1' data-toggle='tab'>Dictionary</a>
      </li>
      <li class="{{cat|yesno:'active,'}}">
        <a href='#tab2' data-toggle='tab'>Categories</a>
      </li>
    </ul>
    <div class='tab-content'>
      <div class="tab-pane pagination {% if not cat %}active{% endif %}" id='tab1'>
        <ul>
        {% for a in alphabet %}
          <li class="{{ dict|active_if_equal:a }}">
            <a href="{% url 'goat:dict' a %}">{{ a|unquote|upper }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="tab-pane pagination {{cat|yesno:'active,'}}" id='tab2'>
        <ul class='inline'>
        {% for pk, name, slug in categories %}
          <li class="{{ cat|active_if_equal:pk }}">
            <a href="{% url 'goat:cat' pk slug %}">{{ name }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
