{% extends 'base.html' %}
{% load url from future %}

{% block title %}Sura{% endblock %}

{% block content %}

{% if word_list %}
<dl>
{% for w in word_list %}
  <dt><a href='{% url 'goat:word-detail' w.pk w.slug %}'>{{ w.text }}</a></dt>
  <dd>{{ w.definition }}</dd>
{% endfor %}
</dl>
{% endif %}

{% endblock %}
