{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Sura{% endblock %}

{% block content %}

<dl>
  <dt>{{ word.text }}</dt>
  <dd>{{ word.definition }}</dd>
  <div>{% trans 'Examples' %}</div>
  <ul>
    {% for ex in word.example_set.all %}
      <li>
        {{ ex.text }}
      </li>
    {% endfor %}
  </ul>

</dl>

{% endblock content %}
