{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <meta name='description' content="">
  <meta name='author' content="">
  <!-- Bootstrap -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' media='screen'>
  <link href="{% static 'css/site.css' %}" rel='stylesheet'>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% block extracss %}{% endblock %}
  {% block extrajs %}{% endblock %}
</head>
<body>

  <div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container'>
        <button type='button' class='btn btn-navbar' data-toggle='collapse' data-target=".nav-collapse">
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='brand' href='/'>Sura Dict</a>
        <div class='nav-collapse collapse'>
          <ul class='nav'>
            <li class='active'><a href='/'>Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li class='dropdown'>
              <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Dropdown <b class='caret'></b></a>
              <ul class='dropdown-menu'>
                <li><a href='#'>Action</a></li>
                <li><a href='#'>Another action</a></li>
                <li><a href='#'>Something else here</a></li>
                <li class='divider'></li>
                <li class='nav-header'>Nav header</li>
                <li><a href='#'>Separated link</a></li>
                <li><a href='#'>One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class='navbar-form pull-right'>
            <input class='span2' type='text' placeholder='Email'>
            <input class='span2' type='password' placeholder='Password'>
            <button type='submit' class='btn'>Sign in</button>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  {% include 'goat/categorylinks.html' %}

  <div class='container'>
    <div class='span8'>
      {% block content %}
      {% endblock %}
    </div>
    <div class='span3'></div>
  </div>

  <div class='container'>
    <footer>
      <p>&copy; Sura 2013</p>
    </footer>
  </div> <!-- /container -->
</body>
</html>
